



















    h1 {
        color: white;
        background: blue;

    }


    P {
        color: blue;
        font-size: 20PX;

    }

    button {
        background: green;
        border-color: greenyellow;

    }

